
.App{
  background-color: white !important;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }