a,a:hover{
    display: flex;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
}
.span{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 6px;
    background-color:  #F64775;
    margin-left: 5px;
    padding: 0 2px;
    line-height: 0;
}